:root{
     --white:#FFFFFF;
	 --stone100:#F0F0E6;
     --stone150:#E8E8E3;
	 --stone600:#525252;
     --stone900:#181818;
     --brown800:#263238;
     --rose800:#54293A;
     --rose50:#F9F9FA;
}

*{
    box-sizing:border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:var(--stone150);
    padding: 3rem;
}
.main{
    width:100%;
    max-width: 1440px;
    background: white;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding: 2rem;
    border-radius: 20px;
}
img{
    border-radius: 20px;
    display:block;
}
h1{
    font-family: "Young Serif", serif;
    font-size: 3rem;
    font-weight:400;
}
h2{
    color:var(--stone900);
}
.p1{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight:200px;
    color:var(--brown800);
}
h4{
    margin-left:1rem;
    font-size:18px;
    font-family: "Outfit", sans-serif;
    color:var(--stone900);
}


li{
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    left: 10px;
    position:relative;
    line-height: 2.5;
    color: var(--brown800);
    
}
.p2{
    font-size: 18px;
    color: var(--brown800);
}


span{
    font-weight:700;
    margin-right: 2px;
    color:var(--stone900);
    
}
tr{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    
}
table{
    width:100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    font-family:"Outfit", sans-serif;
}
td{
    border-bottom: solid lightgray 1px;
    font-size: 16px;
    line-height: 1.8rem;
    color: var(--stone900);
}
.attribution{
    text-align: center;
}
.p-time{
    background:var(--stone100);
}
b{
    color: var(--stone900);
}
@media(max-width:768px){
    body{
        padding:0px;
        margin:0px;
        
    }
    .main{
        border-radius: 0px;
        padding: 0px;
    }
    img{
        border-radius: 0px;
    }
    h1,h2{
        padding: 1rem;
        margin-bottom: -20px;
    }
    .ingredients{
        padding: 1rem;
        margin-bottom: -30px;
    }
    .p-time{
        padding:1rem;
    }
    .instruction{
        padding:1rem;
        margin-bottom: -30px;
    }
    .nutrition{
        padding:1rem;
    }
    .p1{
        padding:1rem;
    }
}